* {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: Arial;
    }

    .column {
      float: left;
      width: 20%;
      padding: 10px;
    }

    .column img {
      opacity: 0.8;
      cursor: pointer;
    }

    .column img:hover {
      opacity: 1;
    }

    .row {
      max-width: 100px;
      max-height: 100px;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }
.header {
    position: fixed;
    z-index: 9999;
    height: 50px;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul.region_shape{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.region_shape li:nth-child(2) {
    border-right: 1px solid #ececec;
}

ul.region_shape li {
    float: left;
    padding: 0 8px;
    fill: #ffffff;
    stroke: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 50px;
    text-align: center;
}

ul.region_shape li:hover {
    float: left;
    padding: 0 8px;
    fill: #ffffff;
    stroke: #ff0000;
}
 
 

aside.left-sidebar {
    width:225px;
    position: fixed;
    border-right: 1px solid #ececec;
    padding-top: 50px;
    height:100%;
}

aside.left-sidebar p {
    text-align: center;
}

aside.left-sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: auto;
    max-height: 650px;
}

aside.left-sidebar ul li {
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 15px 21px 15px 0;
    border-bottom:1px solid #ececec;
}

aside.left-sidebar ul li img {
    cursor: pointer;
}

.content-wrapper {
    margin-left: 250px;
    text-align: center;
    padding-top:100px;
}

.image-container {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/static/img/img1.jpeg");
    position: relative;
    width: 200px;
    height: 300px;
    margin: 5% auto;
}

.btn-block button {
    background: #ff9900;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-left: 44px;
    margin-right: 35px;
}

div#target-image svg {
    position: absolute;
    top: 0;
    right: 0;
     border: 1px solid #333;
    border-radius: 4px;
}